<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Блог</title>
    <style>
        /* Повторяем стили для меню */
        nav {
            background-color: #f2f2f2;
            padding: 10px;
        }
        nav a {
            margin: 0 15px;
            text-decoration: none;
            color: #333;
        }
        nav a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Главная</a>
        <a href="{{ url_for('blog') }}">Блог</a>
        <a href="{{ url_for('contacts') }}">Контакты</a>
    </nav>
    <h1>Страница Блога</h1>
    <p>Здесь можно разместить ваши статьи и новости.

    Привет,как дела?


        Биткоин, суточные свечи

Боковик продолжается. 110300 ограничитель сверху, 106000 ограничитель снизу.
    </p>
</body>
</html>